*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: 100%;
  color: #151515;
}

.wrapper {
  background-color: #fafafa;

}

/* Typography */
.hero-date,
.hero-title,
.hero-text {
  color: #fff;
  margin: 0;
}

.hero-title,
.about-me-title {
  font-size: 2rem;
  line-height: 108%;
}

.hero-text {
  font-size: 1rem;
  max-width: 657px;
}

h2 {
  font-size: 0.84rem;
}

h3 {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-items {
  justify-content: flex-end;
  width: 12em;
  gap: 30px;
  text-transform: uppercase;
}

.nav-items .nav-item {
  display: none;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #090909;
}

.blog-date,
.hero-date {
  text-transform: uppercase;
  font-size: 0.87rem;
}

.blog-title,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.recent-posts {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 2em;
  padding-bottom: 0.5em;
}

.article-title {
  text-transform: initial;
  font-size: 1rem;
  font-weight: bold;
}
.featured-post-article img {
  margin-top: 1em;
  margin-bottom: 1em;
}

.view-more {
  display: flex;
  justify-content: center;
  margin: 2em auto;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
}

/* Flex containers */
header,
.logo-container,
.nav-items,
.hero-post {
  display: flex;
}

/* Header */
header {
  justify-content: space-between;
  align-items: center;
  padding: 0.8em;
}

.logo-container {
  align-items: center;
  font-family: "Roboto";
  gap: 3px;
}

/* Hero post */
.hero-post {
  background: #090909 url("/images/article-image.png");
  background-size: cover;
  min-height: 300px;
  background-position: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;
}

/* Blog-grid */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.blog {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 374px;
  margin: 0 auto;
}

.blog-img {
  height: 232px;
  width: 100%;
  object-fit: cover;
}

/* ======================== */
  /* Featured post page */
/* ======================== */
.featured-post-title,
.featured-post-article,
.featured-post-date,
.article-title,
.about-me-article {
  margin: 0 0 1em 0;
}
.featured-post-article,
.about-me-article {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.featured-post-article p,
.about-me-article p {
  line-height: 1.35;
  margin-bottom: 1em;
}

.recent-posts {
  display: flex;
  justify-content: center;
}

/* ======================== */
  /* About post page */
/* ======================== */
.about-me-container img {
  width: 182px;
  border-radius: 50%;
}

/* Footer */
footer {
  height: 6.25em;
  background-color: #202020;
  color: #D7D7D7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Media queries */
@media (min-width: 576px) {
  .icon {
    display: none;
  }

  .nav-items .nav-item {
    display: block;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  h3, a {
    font-size: 1rem;
  }

  .hero-date, p {
    font-size: 1em;
  }

  .hero-post {
    min-height: 488px;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .about-me-title {
    font-size: 2.2em;
    Line-height: 38.95px;
    letter-spacing: 3%;
  }

  .blog-title {
    font-size: 1.5rem;
  }

  .featured-post-date,
  .featured-post-title,
  .featured-post-article p {
    width: 85%;
    margin: 0.5em auto;
  }

  .about-me-article {
    width: 85%;
    margin: 0 auto;
  }

  .about-me-container {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 80%;
    margin-bottom: 3em;
  }

  .about-me-intro {
    padding: 0;
  }

  .featured-post-title {
    line-height: 39px;
    letter-spacing: -3%;
    font-size: 2.20rem;
    font-weight: 700;
  }

  .featured-post-article p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
  }
}

@media (min-width: 860px) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}

@media (min-width: 1280px) {
  .blog-grid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
}
